---
---

.table-h2 {
    margin-top: 1.5rem;
    text-align: left;
}

.table {
    border-collapse: collapse; /* Ensures that table borders are collapsed into a single border */
}

/* Styles for links within table */
.table a {
    // Set text size smaller
    font-size: 0.8em;
    color: inherit; /* Inherits color from parent */
    text-decoration: none; /* Removes underline from links */
}

/* Hover and focus styles for links */
.table a:hover,
.table a:focus {
    text-decoration: underline; /* Adds underline on hover/focus */
}

/* Style for table cells */
.table td {
    text-align: left; /* Aligns cell text to the left */
}

.table th, td {
    border: 2px solid #aaaaff;
    padding: 0.5rem 1rem;
}

/* Style for table headers */
.table th {
    color: #202026; /* Background color for headers */
    background-color: #aaaaff;
}

.table img {
    vertical-align: middle;
    border: none; 
}
