---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{ page.tabtitle | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/ansiblecontent.css' | relative_url }}">
</head>
<body>
    <!-- Main Content Area -->
    <div class="ansible-content">
        <div class="content">
            {{ content }}
        </div>
    </div>
    <!-- Active Roles -->
    <h2 class="table-h2">Active Roles</h2>
    <table border="1" class="table table-active-roles">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>CI Badge</th>
            </tr>
        </thead>
        <tbody>
            {% for role in site.data.ansible-content.ansible_content.roles %}
            {% unless role.status contains "Deprecated" %}
            <tr>
                <td><a target="_blank" rel="noopener noreferrer" href="{{ role.gh_url }}">{{ role.name }}</a></td>
                <td>{{ role.status }}</td>
                <td>
                    {% if role.ci_badge != "" %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ role.ci_url }}"><img src="{{ role.ci_badge }}" alt="CI Badge"></a>
                    {% endif %}
                </td>
            </tr>
            {% endunless %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Active Collections -->
    <h2 class="table-h2">Active Collections</h2>
    <table border="1" class="table table-active-collections">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in site.data.ansible-content.ansible_content.collections %}
            {% unless collection.status contains "Deprecated" %}
            {% assign role_count = collection.roles | default: empty | size %}
            {% assign playbook_count = collection.playbooks | default: empty | size %}
            {% assign collection_prefix = collection.name | append: '.' %}
            {% assign rowspan_value = role_count | plus: playbook_count | plus: 1 %}
            {% if playbook_count > 0 %}
                {% assign rowspan_value = rowspan_value | plus: 1 %}
            {% endif %}
            {% if role_count > 0 %}
                {% assign rowspan_value = rowspan_value | plus: 1 %}
            {% endif %}
                {% if role_count > 0 or playbook_count > 0 %}
                <tr>
                    <td rowspan="{{ rowspan_value }}"><a target="_blank" rel="noopener noreferrer" href="{{ collection.gh_url }}">{{ collection.name }}</a></td>
                    <td rowspan="{{ rowspan_value }}">{{ collection.status }}</td>
                </tr>
                <tr>
                    <td class="content-seperator"><a target="_blank" rel="noopener noreferrer" href="">Roles</a></td>
                </tr>
                {% for role in collection.roles %}
                <tr>
                    {% if role.ci_badge != "" %}
                    <td><a target="_blank" rel="noopener noreferrer" href="{{ role.gh_url }}">{{ role.name | remove: collection_prefix }}</a> <a target="_blank" rel="noopener noreferrer" href="{{ role.ci_url }}"><img src="{{ role.ci_badge }}" alt="CI Badge"></a></td>
                    {% else %}
                    <td><a target="_blank" rel="noopener noreferrer" href="{{ role.gh_url }}">{{ role.name | remove: collection_prefix }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% if playbook_count > 0 %}
                <tr>
                    <td class="content-seperator"><a target="_blank" rel="noopener noreferrer" href="">Playbooks</a></td>
                </tr>
                {% for playbook in collection.playbooks %}
                <tr>
                    <td><a target="_blank" rel="noopener noreferrer" href="{{ playbook.gh_url }}">{{ playbook.name | remove: collection_prefix }}</a></td>
                </tr>
                {% endfor %}
                {% endif %}
                {% else %}
                <tr>
                    <td><a href="{{ collection.gh_url }}">{{ collection.name }}</a></td>
                    <td>{{ collection.status }}</td>
                    <td>No roles or playbooks</td>
                </tr>
                {% endif %}
            {% endunless %}
            {% endfor %}
        </tbody>
    </table>

    <!-- Deprecated Roles -->
    <h2 class="table-h2">Deprecated Roles</h2>
    <table border="1" class="table table-deprecated table-deprecated-roles">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>CI Badge</th>
            </tr>
        </thead>
        <tbody>
            {% for role in site.data.ansible-content.ansible_content.roles %}
            {% if role.status contains "Deprecated" %}
            <tr>
                <td><a target="_blank" rel="noopener noreferrer" href="{{ role.gh_url }}">{{ role.name }}</a></td>
                <td>{{ role.status | remove: 'Deprecated' }}</td>
                <td>
                    {% if role.ci_badge != "" %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ role.ci_url }}"><img src="{{ role.ci_badge }}" alt="CI Badge"></a>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
